let mapleader=","
set easymotion
set ignorecase smartcase
set hlsearch

nnoremap <a-h> gT
nnoremap <a-l> gt

nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>

inoremap <C-a> <Home>
inoremap <C-b> <Left>
inoremap <C-d> <Delete>
inoremap <C-e> <End>
inoremap <C-f> <Right>

nnoremap <leader>sr :source ~/.ideavimrc<cr>

; easy system clipboard copy/paste
noremap <leader>y "*y
noremap <leader>yy "*Y
noremap <leader>p "*p
noremap <leader>P "*P
